<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLAVOR FUSION - YOUR RECIPE COMPANION</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color:rgba(255, 162, 0, 0.603)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark times-font">
        <a class="navbar-brand" href="#">FLAVOR FUSION - YOUR RECIPE COMPANION</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}" style="color:white;">HOME</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'recipes' %}" style="color:white;">RECIPES</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}" style="color:white;">ABOUT</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}" style="color:white;">CONTACT</a></li>
            </ul>
        </div>
    </nav>
    <header class="hero text-center">
        <img src="{% static 'images/HomePage2.jpg' %}" class="img-fluid" alt="Welcome Image" height="600" width="1100">
    </header>

    <footer class="bg-dark text-white text-center py-3 times-font">
        <p>&copy; 2024 Flavor Fusion. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
